body{
	background-color:lightyellow;
}



@media screen and (min-width:768px){
.btm{
width:150px;

}
}


@media screen and (min-width:481px) and (max-widht:768px){
.btm{
font-size:100px;
}
}

@media screen and (max-width:481px){
.btm{
font-size:100%;
}
}
